table {
    border-style: inset;
    /* border: 2px solid rgb(140 140 140); */
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    margin: auto;
}
.noborder{
    border-style: none;
    /* border: 2px solid rgb(140 140 140); */
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    margin: auto;
}

img{
    border-radius: 50%;
}
caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}
a{
    text-decoration: none;
}
h4{
    font-size: 3px;
}
thead,
tfoot {
    background-color: rgb(228 240 245);
}

td:last-of-type {
    text-align: center;
}

tbody>tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}

tfoot th {
    text-align: right;
}

tfoot td {
    font-weight: bold;
}
p {
    color: rgb(37, 37, 37);
}

hr {
    background-color: none;
    border-style:dotted none none none;
    border-color:brown;
    width: 50%;
}